<section class="text-center p-2 my-3">
    <button (click)="selectAdd()" type="button" class="btn btn-secondary text-center m-1 px-5" style="background-color: antiquewhite;color: #000;margin-left: 10px;">Add</button>
    <button (click)="selectSubtract()" type="button" class="btn btn-secondary text-center m-1 px-5" style="background-color: burlywood;color:black;">Subtract</button>
    
    <button (click)="selectMultiply()" type="button" class="btn btn-secondary text-center m-1 px-5" style="background-color: burlywood;color:black;">Multiply</button>
    <button (click)="selectDivide()" type="button" class="btn btn-secondary text-center m-1 px-5" style="background-color: antiquewhite;color: #000;margin-right: 10px;">Divide</button>
  </section>

